.table-container {
  margin: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background: #2563eb;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
}
button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #bb2d3b;
}